@import "../../assets/mixins";

.wrapper {
  background-color: var(--outline);
  text-align: center;
}

.container {
  @include container-enhanced;
}

.cover {
  display: block;

  img {
    border-radius: 2px;
  }
}

.text {
  margin-top: 32px;
}

.headline {
  color: #0631fc;
  font-size: 1.4em;
  line-height: 1;
  margin-bottom: 8px;
  text-transform: uppercase;
}

.cta {
  color: #ff32ff;
  cursor: pointer;
  display: inline-block;
  font-weight: bold;
  padding: 4px 16px;
  text-decoration: none;

  &:hover {
    color: #0631fc;
    text-decoration: none;
  }
}
