$link-color: #FF3E75;

@import "~bootstrap/scss/_functions.scss";
@import "~bootstrap/scss/_variables.scss";
@import "~bootstrap/scss/_mixins.scss";
@import "~bootstrap/scss/_reboot.scss";

@font-face {
  font-family: 'Sensations';
  src: local('Sensations and Qualities'), local('SensationsandQualities'),
      url('../fonts/SensationsandQualities.woff2') format('woff2'),
      url('../fonts/SensationsandQualities.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

:root {
  --black: #101010;
  --fill: #FF3E75;
  --outline: #FFCCF3;
}
