@import "~bootstrap/scss/_functions.scss";
@import "~bootstrap/scss/_variables.scss";
@import "~bootstrap/scss/_mixins.scss";
@import "~bootstrap/scss/_reboot.scss";

:root {
  --black: #101010;
  --fill: #FF3E75;
  --outline: #FFCCF3;
}
