@import "../../assets/mixins";

.footer {
  @include container-enhanced;

  margin-top: 80px;
}

.items {
  align-items: center;
  display: flex;
  justify-content: center;
}

.item {
  color: var(--black);
  display: inline-block;
  font-weight: bold;
  padding: 4px 16px;

  &:hover {
    color: var(--fill);
    text-decoration: none;
  }
}
